<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".Login_Related.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Login_Related.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ProfileActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Profile_Tab.Home_reply.ReplyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 여기서부터 병함 -->
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile_Tab.Alarm_Related.AlarmActivity" />
        <activity
            android:name=".Profile_Tab.DD119_Related.Tab1"
            android:label="@string/title_activity_tab1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Profile_Tab.DD119_Related.Tab2"
            android:label="@string/title_activity_tab2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Profile_Tab.DD119_Related.Tab3"
            android:label="@string/title_activity_tab3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Profile_Tab.DD119_Related.Tab4"
            android:label="@string/title_activity_tab4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Profile_Tab.DD119_Related.Tab5"
            android:label="@string/title_activity_tab5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Profile_Tab.DD119_Related.Tab6"
            android:label="@string/title_activity_tab6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>